[package]
name = "mrlog"
version = "0.2.1"
authors = ["Mark Benvenuto <mark.benvenuto@mongodb.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
json = "0.12.4"
regex = "1.5.4"
structopt = "0.3.20"

anyhow = "1.0.53"

colored = "2.0.0"

crossbeam-channel="0.5.2"

cpp_demangle = "0.3.5"

nix = "0.23.1"
# Handle SIGTERM and SIGINT
ctrlc = { version = "3.2.1", default-features = false, features = ["termination"] }

[target.'cfg(target_os = "linux")'.dependencies]
object={ version = "0.27.1", default-features = false, features = ["read", "compression"] }
# Keep at 0.22.0 for addr2line

addr2line="0.17.0"
memmap2 = "0.5.2"
gimli = { version = "0.26.1", default-features = false, features = ["read"] }

# rental = "0.5.5"
ouroboros = "0.14.0"
